html {
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

body,
main {
    margin: 0;
    height: 100%;
}
.grow-edit {
    flex-grow: 1;
    background-color: #e5e2d5;
}

.gps-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
}
.profile-page {
    width: 100%;

    border-bottom: 2px solid #bbb7a1;

    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-bottom: 80px;
    padding-bottom: 30px;
}

.form-wrapper2 {
    width: 800px;
    border-bottom: 2px solid #bbb7a1;
    border-right: 2px solid #bbb7a1;
    border-left: 2px solid #bbb7a1;

    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.edit-page {
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.a-name {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    color: #192259;
}

.title {
    font-size: 15px;
    color: #192259;
    font-weight: 700;
}

.comment {
    font-size: 14px;
    color: #192259;
}
.titleandcomment {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 147px;
    width: 620px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-bottom: 15px;
}

.img-comment2 {
    width: 800px;
    background-color: #e5e2d5;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.friendof-name {
    color: white;
    margin-left: 20px;
    letter-spacing: 1.1;
    padding: 0px;
    font-size: 16px;
}
.picture-review img {
    width: 100px;
    object-fit: cover;
    position: absolute;
    height: 100px;
    margin-left: -101px;
    margin-top: 12px;
}
.wrapper-online-img {
    border-bottom: 1px solid white;
    align-items: center;
    margin-left: 125px;
}

.img-comment {
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #bbb7a1;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
}
.wrapper-services {
    flex-grow: 1;
    border-bottom: 2px solid #bbb7a1;
    border-right: 2px solid #bbb7a1;
    border-left: 2px solid #bbb7a1;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    background-color: white;
    margin-bottom: 80px;
    padding-bottom: 30px;
}
.wrapper-grow {
    flex-grow: 1;
}
.wrapper-inlet {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #ffd03a;
}
.no-services {
    text-align: center;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.wrapper-search {
    width: 900px !important;
}
.close {
    color: white !important;
}
.search-page {
    min-height: 100%;
}
.text-upload {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: white;
    margin-left: 20px;
    font-weight: 700;
    overflow: hidden;
    background-color: #ffd03a;
}

.profile-pic-service {
    height: 300px;
    width: 300px;
    margin-top: -98px;
    border: 2px solid #bbb7a1;
    overflow: hidden;
    object-fit: cover;
    margin-left: -225px;
    position: absolute;
}
.wrapper-main {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.wrapper-main > div:first-child {
    flex-shrink: 0;
}
.wrapper-main > div:last-child {
    flex-grow: 1;
}

.services-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-color: white;
    background-size: cover;
}

.wrapper-main-2 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e5e2d5;
    background-position: center;
    background-size: cover;
}

.wrapper-location {
    display: flex;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100vw;
    box-shadow: 2px 4px 4px 8px rgba(0, 0, 0, 0.2);
    height: 20px;
    flex-shrink: 0;
}

.footer2 {
    width: 100vw;
    background-color: #192259;
    box-shadow: 2px 4px 4px 8px rgba(0, 0, 0, 0.2);
    height: 20px;
    flex-shrink: 0;
}

#file-field {
    display: none;
}

#file-label {
    padding: 0.8em 1.6em;
    background-color: #e5e2d5;
    color: #192259;
    text-decoration: none;
    font-weight: 700;
    margin-top: 23px;
    font-size: 18px;
    cursor: pointer;
    border: none !important;
    width: 242px;
    height: 21px;
    margin-bottom: 5px;
}

.uploader-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}
.linha2 {
    height: 1px;
    background-color: rgb(68, 68, 68);
    opacity: 0.2;
    width: 200px;
    width: 440px;
}

.icon-modal {
    color: rgb(68, 68, 68);
    position: absolute;
    cursor: pointer;
    top: 6px;
    right: 8px;
}

.uploader-inlet {
    width: 440px;
    height: 215px;
    text-align: center;
    background-color: white;
    position: absolute;
    top: calc(50% - 107.5px);
    left: calc(50% - 220px);
}

.search-page {
    display: flex;
    background-color: #e5e2d5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}
.link-result {
    text-decoration: none;
}
.name-result {
    width: 600px;
    text-decoration: none;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    color: #192259;
    background-color: #e5e2d5;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid white;
}

.distance-result,
.subcategory-result {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #e5e2d5;
    color: #192259;
    width: 100%;
    padding-top: 6px;
    font-size: 14px;
    padding-bottom: 6px;
}

.location {
    margin-top: 10px;
}

.extra-extra-wrapper {
    width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-left: 2px solid #bbb7a1;
    border-right: 2px solid #bbb7a1;
    border-bottom: 2px solid #bbb7a1;
    background-color: white;
}
.grow-service {
    background-color: #e5e2d5;
    flex-grow: 1;
    height: 100%;
}

.places {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    width: 370px;
    margin-left: -15px;
}
.check-if-works {
    margin-bottom: 10px;
    margin-left: 60px;
}

.pencil {
    margin-right: 8px;
}
.place-results {
    font-size: 14px;
    font-weight: 400 !important;
    color: #bbb7a1;
}

.place-results .language-picker {
    display: inline;
}

.wrapper-inlet-online {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.textarea-comment {
    resize: none;
    margin-top: 10px;
    width: 600px;
    height: 100px;
    font-size: 14px;
    padding-top: 3px;
    padding-left: 5px;
    border: 1px solid #e5e2d5;
}

.extra {
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #192259;
}

.pins {
    margin-right: 7px;
}

.online-title {
    text-align: center;
    color: #192259;
    padding-bottom: 5px;
}

.review-title {
    text-align: center;
    border-top: 2px solid #bbb7a1;
    color: #192259;
    background-color: #ffd03a;
    border-bottom: 2px solid #bbb7a1;
    padding: 5px;
    padding-bottom: 5px;
}

.textarea-title {
    resize: none;
    font-size: 14px;
    padding-left: 5px;
    width: 600px;
    borheight: 50px;
    padding-top: 3px;
    border: 1px solid #e5e2d5;
}

.organizer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit-service {
    padding-top: 55px;
    padding-bottom: 5px;
    color: #192259;
    margin-top: 20px;
    font-size: 30px;
    padding-left: 470px;
    width: 100%;
    display: none;

    background-color: white;
    font-weight: 700;
}

.service-categorie {
    color: #ffd03a;
}

.form {
    max-width: 800px !important;
}
.form-register iframe {
    width: 100%;
}

.wrapper-services iframe {
    width: 800px;

    height: 350px;
}

.wrapper-results {
    max-width: 620px;
    box-shadow: 1px 2px 14px 7px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    display: flex;
    padding: 10px;
    background-color: white;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
}
.wrapper-services-box {
    margin-left: 20px;
}

.wrapper-services-box > img {
    width: 140px;
    height: 110px;
    object-fit: cover;
}

.wrapper-services-box > iframe {
    border: 2px solid rgb(117, 117, 117);
}
.pin {
    margin-right: 5px;
}

.globo {
    margin-right: 5px;
    font-size: 14px;
}
.name-s {
    color: #192259;
    font-weight: 700;
    font-size: 18px;
}
.cate-s {
    font-size: 15px;
    font-weight: 600 !important;
}

.address-s,
.language-s,
.language-results {
    margin-top: 3px;
    font-size: 13px;
}

.results-page {
    display: flex;

    min-height: 100vh;
    background-color: #e5e2d5;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}
.grow-results {
    flex-grow: 1;
}

.form,
.form-register {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

@media (max-width: 610px) {
    .form,
    .form-register {
        text-align: center;
    }

    .wrapper-location {
        max-width: 300px;
    }

    .form .wrapper-location,
    .form-register .wrapper-location {
        margin-left: auto;
        margin-right: auto;
    }
}

.location-picker {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.parte2 {
    padding-top: 155px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    border: 1px solid #ffd03a;
    background-color: white;
    color: rgb(117, 117, 117);
    border-radius: 0px !important;
    width: 300px;
    height: 50px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif !important;
}
.down-input {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}
.wrapper-email {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.input-search {
    box-sizing: border-box;
    resize: none;
    border: 1px solid #ffd03a;
    color: rgb(117, 117, 117);
    flex-grow: 1;
    border-radius: 5px;
    height: 50px;
    font-size: 14px;
    padding-left: 6px;
}

.coluna2 {
}
.coluna-1 {
}
.input-register {
    box-sizing: border-box;
    border: 1px solid #ffd03a;
    background-color: white;
    color: rgb(117, 117, 117);
    width: 300px;
    height: 50px;
    padding-left: 6px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif !important;
}

.form-registration {
}
.input-login {
    box-sizing: border-box;
    border: 1px solid white;
    background-color: white;
    color: rgb(117, 117, 117);
    width: 300px;
    height: 50px;
    padding-left: 6px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif !important;
}
.search-page-down {
    background-color: #e5e2d5;
    background-size: cover;
    min-height: 100%;
    flex-grow: 1;
}

.links-profile {
    background-color: white;
    font-size: 15px;
    padding-left: 470px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.text-change-picture {
    cursor: pointer;
}

.register-profile {
}

.img-wrapper:hover .change-picture {
    display: block;
}
.edit-profile {
    margin-right: 50px;
}
.change-picture {
    position: absolute;
    font-size: 13px;
    color: white;
    margin-left: 242px;
    /* height: 78px; */
    padding-left: 41px;
    padding-right: 42px;
    padding-bottom: 20ºx;
    width: 132px;
    padding-top: 20px;
    padding-bottom: 21px;
    text-align: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.img-wrapper-service:hover .change-picture-2 {
    display: block;
}

.change-picture-2 {
    position: absolute;
    font-size: 15px;
    color: white;
    margin-left: 242px;
    /* height: 78px; */
    padding-left: 73px;
    padding-right: 73px;
    display: none;
    width: 154px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    font-weight: 400 !important;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translate(-465px, 95px);
}

.services-profile,
.register-profile,
.edit-profile {
    color: rgb(117, 117, 117);
    text-decoration: none;
    font-weight: 700;
}

.wrapper-inlet-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

iframe {
    width: 400px;
    height: 300px;
}
.lupa-search {
    width: 35px;
    height: 35px;
    padding-left: 10px;
    padding-right: 5px;
    cursor: pointer;
}

.location-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-search {
    padding: 0.8em 1.6em;
    background-color: #5f6fca;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    width: 300px;
    margin-bottom: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.login-button {
    padding: 0.8em 1.6em;
    background-color: #ffd03a;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none !important;
    width: 100%;
    margin-bottom: 20px;
}
.place-description {
    color: #192259;
    font-size: 14px;
    font-weight: 700;
}

.lupa-profile {
    margin-top: 20px;
    position: relative;
    height: 180px;
    width: 180px;
}

.gps {
    margin-top: 17px;
    margin-left: 11px;
    font-size: 14px;
    cursor: pointer;
    font-weight: ;
}

.text-search {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #192259;
    font-size: 20px;
    width: 100%;
    margin-left: auto;
    border-bottom: 2px solid #bbb7a1;

    margin-bottom: 5px;

    margin-right: auto;
    background-color: white;
    font-weight: 700;
}

.text-search2 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #192259;
    font-size: 20px;
    width: 100%;
    margin-left: auto;
    text-align: center;
    border-bottom: 2px solid #bbb7a1;

    margin-bottom: 5px;

    margin-right: auto;
    background-color: white;
    font-weight: 700;
}

.service-name {
    /* padding-bottom: 23px; */
    /* padding-bottom: 5px; */
    color: #192259;
    /* margin-top: 20px; */
    font-size: 30px;
    /* padding-top: 30px; */
    padding-left: 465px;
    /* width: 100%; */
    background-color: white;
    font-weight: 700;
}

.text-profile {
    padding-top: 55px;
    padding-bottom: 5px;
    color: #192259;
    margin-top: 20px;
    font-size: 30px;
    padding-left: 470px;
    width: 100%;

    background-color: white;
    font-weight: 700;
}

.parte1-1 {
    padding-left: 170px;
}

.parte1 {
    padding-bottom: 5px;
    color: #192259;
    margin-top: 20px;
    font-size: 14px;
    padding-left: 312px;

    background-color: white;
    font-weight: 700;
}
.service-categorie {
    font-size: 15px;
    display: flex;
    flex-direction: column;

    /* padding-top: 55px; */
    /* padding-bottom: 5px; */
    color: #192259;
    /* margin-top: 20px; */
    /* font-size: 30px; */
    padding-left: 465px;
    /* width: 100%; */
    background-color: white;
}

.wrapper-register,
.wrapper-search {
    max-width: 850px;
    background-color: white;
    margin-left: auto;
    text-align: center;
    border-bottom: 2px solid #bbb7a1;
    border-right: 2px solid #bbb7a1;
    border-left: 2px solid #bbb7a1;
    margin-right: auto;
    margin-bottom: 20px;
}

.location {
    width: 200px;
    height: 200px;
}

.wrapper-results iframe {
    width: 300px;
    height: 200px;
}

.wrapper-logo {
    background-color: #192259;
    width: 100%;
    text-align: center;
}

.logo-medium {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 27px;
    padding: 15px;
}

.profile-pic {
    height: 215px;
    width: 215px;
    margin-top: -140px;
    border: 2px solid #bbb7a1;
    overflow: hidden;
    object-fit: cover;
    margin-left: 240px;
    position: absolute;
}

.wrapper-profile-pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-results,
.category {
    font-weight: 700;
    display: flex;
}

.category {
    margin-top: 5px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #192259;
    border-bottom: 1px solid white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.links-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-now {
    padding: 1.2em 3em;
    background-color: #ffd03a;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-top: 20px;
    font-size: 20px;
}
.logo {
    width: 55px;
    margin-left: 85px;
    height: 55px;
}

.name-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: #192259;

    padding: 0.4em 0.8em;
    border: 1px solid#192259;
    margin-left: 30px;
}

.buttons-header-search {
    font-weight: 700;
    text-decoration: none;
    color: #e5e2d5;
    padding: 0.4em 0.8em;
    border: 1px solid #ffd03a;
}

.buttons-header-search:hover {
    background-color: #ffd03a;
    color: white;
}
.link-search {
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: #ffd03a;

    padding: 0.4em 0.8em;
    border: 1px solid #ffd03a;
    margin-left: 30px;
}

.language {
    cursor: pointer;
    color: white;
    letter-spacing: 1.1px;
    margin-left: 6px;
    font-size: 14px;
    padding: 0.8em 0;
}

.language-header {
    cursor: pointer;
    color: white;
    letter-spacing: 1.1px;
    margin-left: 6px;
    font-size: 14px;
    padding: 0.8em 0;
}

.language-header:hover {
    color: #e5e2d5;
}

.language-search {
    cursor: pointer;
    color: white;
    letter-spacing: 1.1px;
    margin-left: 6px;
    font-size: 14px;
    padding: 0.8em 0;
}

.language:hover {
    color: #e5e2d5;
}

.signup {
    margin-left: 10px;
    margin-right: 30px;
}

.link:hover {
    background-color: #192259;
}

.buttons-header {
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding: 0.4em 0.8em;
    border: 1px solid #ffd03a;
}

.button-logout-header {
    font-weight: 700;
    text-decoration: none;
    color: #e5e2d5;
    padding: 0.4em 0.8em;
    border: 1px solid #ffd03a;
    margin-right: 30px;
}
.button-logout {
    font-weight: 700;
    text-decoration: none;
    color: #e5e2d5;
    padding: 0.4em 0.8em;
    border: 1px solid#192259;
    margin-right: 30px;
}

.button-logout:hover {
    background-color: #192259;
    color: white;
}

.buttons-header:hover {
    background-color: #ffd03a;
    color: white;
}

.last {
    margin-right: 85px;
}

.last-language {
    margin-right: 40px;
}

.wrapper-profilepic-header {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.names-header2 {
    color: #ffd03a;
}

.names-header {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 8px;
    display: flex;
}

.welcome {
    color: #e5e2d5;
}
.my-name {
    color: #ffd03a;
    margin-left: 5px;
}

.names-header-search {
    font-size: 16px;
    display: flex;
    font-weight: 700;
    text-decoration: none;
    text-decoration: none;
    margin-left: 8px;
}

.names-header2 {
    color: #ffd03a;
    margin-left: 5px;
}

.welcome2 {
    color: #e5e2d5;
}

.header-login {
    margin-right: 10px;
}

.bio-wallpost-wrapper {
    margin-right: 130px;
}

.name-menu {
    font-size: 12px;
    padding: 4px;
    color: #667086;
    text-decoration: none;
}

.wrapper-results span {
    font-weight: 400 !important;
}

.logo-big {
    width: 500px;
    height: 76px;

    margin-right: auto;
    margin-left: auto;
}

.wrapper-cover {
    width: 100%;
    height: 500px;
    position: relative;
}

.cover {
    object-fit: cover;
    width: 100%;
    height: 500px;
    position: relative;
}

.logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.lupa-logo {
    position: relative;
    margin-left: 950px;
    transform: translateY(-130px);
}

.wrapper-lupa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.we-speak {
    position: absolute;
    width: 300px;
    text-align: left;
    color: rgb(73, 82, 101);
    font-size: 60px;
    top: 225px;
    left: 60px;
}

.cover-text {
    position: relative;
}

.form-login {
    max-width: 300px;
}

.text-main {
    width: 550px;
    font-family: "Maven Pro";
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 25px;
    margin-top: 6px;
    margin-bottom: 12px;
}

.pindescription {
    display: flex;
    font-size: 14px;
    font-weight: 700;
}

.wrapper-results .location-picker {
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    /* width: 800px; */
}
